# Copie estes valores para Environment no Render.
SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=jdbc:postgresql://aws-1-us-west-2.pooler.supabase.com:5432/postgres?sslmode=require
SPRING_DATASOURCE_USERNAME=postgres.znhwbzcqoffspfbbpxor
SPRING_DATASOURCE_PASSWORD=hjgiuiBOUVfdslf132@BRU32$NSDGF
ADMIN_NAME=Administrador
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASSWORD=admin123
JAVA_TOOL_OPTIONS=-XX:MaxRAMPercentage=70 -XX:+UseSerialGC
DB_POOL_MAX=5
DB_POOL_MIN=1
